.canvasStyle{
    margin: 10px;
    border: 1px solid black;
    width: 800px;
}

.buttonStyle{
    margin: 10px;
    margin-bottom: 20px;
}

.buttonStyle button{
    margin-right: 5px;
    padding: 6px;
    background-color: rgb(96, 184, 255);
    border: 1px;
}

.buttonStyle button:hover{
    background-color: rgb(34, 132, 223);
}
